<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Meta tags Obrigatórias -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<meta charset="utf-8" />
<title>Manager</title>
</head>
<body>
	<div align="center">
		<h1>
			Author List | <a th:href="@{search_autor}">Pesquisa</a>
		</h1>
		<a href="new">New Autor</a> <br /> <br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Sex</th>
					<th>Country</th>
					<th>Birth Date</th>
					<th>Actions</th>
				</tr>
				<tr>
				</tr>
			</thead>
			<tbody>
				<tr th:each="autor : ${listAuthors}">
					<td th:text="${autor.id}">ID</td>
					<td th:text="${autor.name}">Name</td>
					<td th:text="${autor.sex}">Sex</td>
					<td th:text="${autor.country}">Country</td>
					<td th:text="${autor.birthDate}">Birth Date</td>
					<td><a th:href="@{'/edit/' + ${autor.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp; <a th:href="@{'/delete/' + ${autor.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div align="center">
		<h1>Obra List | <a th:href="@{search_livro}">Pesquisa</a></h1>
		<a href="newlivro">Create New Obra</a> <br /> <br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Image</th>
					<th>Publication Date</th>
					<th>Exposure Date</th>
					<th>ID Autor</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="livro : ${listLivros}">
					<td th:text="${livro.id}">ID</td>
					<td th:text="${livro.name}">Name</td>
					<td th:text="${livro.description}">Description</td>
					<td th:text="${livro.image}">Image</td>
					<td th:text="${livro.publicationDate}">Publication Date</td>
					<td th:text="${livro.exposureDate}">Exposure Date</td>
					<td th:text="${livro.idAutor}">ID Autor</td>
					<td><a th:href="@{'/editlivro/' + ${livro.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp; <a th:href="@{'/deletelivro/' + ${livro.id}}">Delete</a>
					</tr>
			</tbody>
		</table>
	</div>


</body>
</html>